#carousel-example-generic{
	background: url("img/cabecera.jpg");
	background-size: cover;
	height: 400px;
}

.poppins{
	font-family: 'Poppins', sans-serif;
}

.hrtam{
	padding:0px 80px 0px 80px; 
}

.lobster{
	font-family: 'Lobster', cursive;
}

.cCenter>h1{
	color: #2c3e50;
}

.cCenter{
	text-align: center;
	padding-top: 80px;
}

.cCenter>h2{
	color: #2c3e50;
	font-weight: bold;
}

#info{
	/*background: url("img/info.jpg");
	background-size: cover;
	height: 400px;
	text-align: center;
	background-color: #1abc9c;*/
	background-color: #9b59b6;
	text-align: center;
	border-radius: 10px;
}

body{
	background: url("img/fondo.jpg");
}

.footer{
	background: black;
	min-height: 60px;
	text-align: center;
}

.footer div{
		display: inline-block;
}

#t{
	background: url("img/iconTN.png");
	background-size: cover;
	margin-top: 5px;
	height: 60px;
	width: 60px;
}

#g{
	background: url("img/iconGN.png");
	background-size: cover;
	margin-top: 5px;
	height: 60px;
	width: 60px;
}

#g:hover{
	background: url("img/iconGA.png");
	background-size: cover;
	height: 60px;
	width: 60px;
}


#t:hover{
	background: url("img/iconTA.png");
	background-size: cover;
	height: 60px;
	width: 60px;
}

#f:hover{
	background: url("img/iconFA.png");
	background-size: cover;
	height: 60px;
	width: 60px;
}

#f{
	background: url("img/iconFN.png");
	background-size: cover;
	margin-top: 5px;
	height: 60px;
	width: 60px;
}

#AboutMy{
	padding: 0px 30px 0px 30px;
	text-align: justify;
}

#AboutMy>div{
	padding: 15px 15px 0px 15px;
	background: white;
	border-radius: 5px;
}

.text{
	background: #1abc9c;
	border-radius: 5px;
	min-height: 400px;
	margin-bottom: 10px;
}
.center{
	text-align: center;
	background: white;
	border-radius: 10px;
}
.white{
	color: white;
}
.text2{
	background: #1abc9c;
	border-radius: 5px;
	min-height: 300px;
	margin-bottom: 10px;
}


#yo{
	max-height: 400px;
}

#yo2{
	min-height: 300px;
}

#info>h1{
	color: #ecf0f1;
	margin: 40px;
}

hr{
	color: black;
}